<!DOCTYPE html>
<html>
<head>
  <title>UPLB Dormitory Preregistration System</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.3.js', 'rails', 'application'%>
  <%= csrf_meta_tag %>
</head>
<body id="page_bg">


<%= yield %>

</body>
</html>